<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/default}">

	<section layout:fragment="contents" class="contents d-flex justify-content-center my-5">
		<div class="input-box p-5 rounded-lg">
			<h2 class="text-center">로그인</h2>
			<input type="text" placeholder="아이디를 입력하세요" class="form-control mt-4" id="loginInput">
			<input type="password" placeholder="비밀번호를 입력하세요" class="form-control mt-2" id="passwordInput">
			<button type="button" class="btn btn-secondary btn-block mt-3" id="loginBtn">로그인</button>
		</div>
	</section>
	
	<script layout:fragment = "script">
		$(document).ready(function(){
			$("#loginBtn").on("click", function(){
				let loginId = $("#loginInput").val();
				let password = $("#passwordInput").val();
				
				if(loginId == ""){
					alert("아이디를 입력하세요");
					return ;
				}
				
				if(password == ""){
					alert("비밀번호를 입력하세요");
					return ;
				}
				
				$.ajax({
					type : "post"
					, url : "/user/login"
					, data : {"loginId" : loginId, "password" : password}
					, success : function(data){
						if(data.result == "success"){
							location.href = "/post/list-view";
						}else{
							alert("아이디와 비밀번호를 입력해주세요");
						}
					}
					, error : function(){
						alert("로그인 오류");
					}
				}); //로그인 ajax 끝
			}); // 로그인 버튼 클릭 이벤트 끝
		});//문서 준비 끝
	</script>
	
</html>